.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 1px orange solid;
}

.App-header h3 {
  align-self: center;
}

.App-link {
  color: #61dafb;
}
